@charset "utf-8";
/** We'll add layout rules here **/
html {
	width: 100%;
}
body {
	margin: 0 auto;
	width: 100%;
	max-width: 1020px;
	min-width: 640px;
}

header {
	margin: 0;
	width: 100%
	overflow: hidden;
}

nav {
	width: 20%;
	margin: 0 0 0 1.5%;
	float: left;
}

aside {
	width: 20%;
	margin: 0 1.5% 0 0;
	float: left;
}

#about {
	width: 51%;
	margin: 0 3% 0 3%;
	float: left;
}

#about img {
	float: right;
	width: 40%;
	margin: 0 4% 0 0%;
}

.syllabus {
	width: 74.5%;
	float: left;
}

footer {
	width: 100%;
	clear: left;
}
